@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


input[type=radio] {
  padding: 0.3em;
  -webkit-appearance: none;
  outline: 0.1em solid #616161;
  /* outline-offset: 0.1em; */
}

input[type=radio]:checked {
  /* display: inline-block; */
  background-color: #000;
  outline: 0.1em solid #000;

}